body{
    font-family: Arial;
    background: linear-gradient(#1e6f7a,#0f3f55,#275a71);
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
    gap:40px;
}

.container{
    width:400px;
    margin-top:40px;
    text-align:center;
}

h1{
    color:white;
}

.button{
    display:flex;
    align-items:center;
    gap:12px;
    background:#072b3a;
    color:white;
    text-decoration:none;
    padding:12px 15px;
    margin:12px 0;
    border-radius:30px;
    font-weight:bold;
    transition:0.3s;
}

.button:hover{
    background:#0b3f55;
    transform:scale(1.03);
}

.button img{
    width:35px;
    height:35px;
    border-radius:50%;
    object-fit:cover;
}

.side-image{
    width:250px;
    margin-right:40px;
}

@media (max-width: 768px){
    .side-image{
        display:none;
    }

    .container{
        width:90%;
        margin-top:20px;
    }
}

*{
    box-sizing:border-box;
}
